.btn-large {
    background: $pacific-blue;
    padding: $large-button-padding;
    height: 100%;
    border-left: $large-buttons-border;
    border-right: $large-buttons-border;
    border-radius: 0;
    margin-right: -1px;
    float: right;

    &:hover,
    &:focus {
      background-color: shade($action-color-darker, 5%);
    }
  }



  // .btn-icon{
  //   background-size: 23px;
  //   background-repeat: no-repeat;
  //   background-position: 0px 5px;
  //   padding-left: 1rem;
  // }

  .btn-light {
    background: none;
    border: 1px solid $action-color;
    color: $action-color;

    &:hover{
      background-color: $pacific-blue;
    }
  }

  .btn-link {
    background: none;
    color: $hiperlink-color;
    text-decoration: underline;
    padding: 0;

    &:hover {
      background: none;
      color: $action-color-darker;
    }
  }
