@mixin button {
  padding: $default-button-padding--mobile;

  @include media(min-width $breakpoint-b) {
    padding: $default-button-padding;
  }
}

.btn-light {
  @include button;

  background: none;
  border: 1px solid $action-color;
  color: $action-color;

  &:hover {
    background: $action-color;
  }
}

.btn-link {
  background: none;
  color: $hiperlink-color;
  padding: 0;
  text-decoration: underline;
  //this is to have the button align with the text. Otherwise will be in another line
  vertical-align: inherit;

  &:hover {
    background: none;
    color: $action-color-darker;
  }
}

.btn-secondary {
  @include button;
  
  background: $very-light-grey;

  &:hover {
    background: $nobel;
  }
}
