.container {
  @include row;
  background: $pacific-blue;

  @include media($large-screen-up) {
    width: 80%;
    float: left;
  }
}

.comp1{
  display: none;
  height: 300px;
  background-color: $amaranth;

  @include media($large-screen-up) {
    @include span-columns(4);
  }
}

.comp2{
  display: none;
  height: 300px;
  background-color: $java;

  @include media($large-screen-up) {
    @include span-columns(4);
  }
}

.comp3{
  display: none;
  height: 300px;
  background-color: $casablanca;

  @include media($large-screen-up) {
    @include span-columns(4);
  }
}
