.container {
  @include row;
  background: $pacific-blue;

  @include media($large-screen-up) {
    float: left;
    width: 80%;
  }
}

.comp1 {
  background-color: $amaranth;
  display: none;
  height: 300px;

  @include media($large-screen-up) {
    @include span-columns(4);
  }
}

.comp2 {
  background-color: $java;
  display: none;
  height: 300px;

  @include media($large-screen-up) {
    @include span-columns(4);
  }
}

.comp3 {
  background-color: $casablanca;
  display: none;
  height: 300px;

  @include media($large-screen-up) {
    @include span-columns(4);
  }
}
