.container {
  background-color: $wild-sand;
  width: 100%;
  margin: 0 auto;
  height: 400px;
  align-items: center;
  display: flex;
  margin-top: 50px;
  @include media(min-width $breakpoint-b) {
    width: 80%;
  }
}

.content_centred {

  .container & {
      margin: 0 auto;
  }
}
