.elzar-forms-div {
  margin-left: 0.65rem;
  width: 25%;
}

.elzar-status_container {
  display: flex;
  float: right;
  margin-left: 40px;
  position: absolute;
}

.elzar-space_between {
  padding-right: 10px;
}

.elzar-styleguide-separator {
  margin-bottom: 50px;
}


.elzar-styleguide-separator2 {
  margin-bottom: 100px;
}
