.forms-div {
  margin-left: 0.65rem;
  width: 25%;
}

.status_container{
  display: flex;
  position: absolute;
  float: right;
  margin-left: 40px;
}

.space_between{
  padding-right: 10px;
}

.styleguide-separator{
  margin-bottom: 50px;
}
