.form-error {
  background: url('/svg/symbol-close.svg') no-repeat;
  background-position: 98%;
  background-size: rem(25);
  border: $error-border;

  &:hover,
  &:focus {
    border-color: $error-color;
  }
}

.form-success {
  background: url('/svg/symbol-check.svg') no-repeat;
  background-position: 98%;
  background-size: rem(25);
  border: $success-border;

  &:hover,
  &:focus {
    border-color: $success-color;
  }
}

.form-warning {
  background: url('/svg/symbol-warning.svg') no-repeat;
  background-position: 98%;
  background-size: rem(25);
  border: $warning-border;

  &:hover,
  &:focus {
    border-color: $warning-color;
  }
}

.form-list {
  li {
    border-radius: none;
    margin-bottom: rem(16);
    //remove white space between input field and error box.
    margin-top: rem(-2);
   }
}
