.header {
  background: $white;
  box-shadow: 0 rem(1) rem(2) $alto;
  min-width: rem(320);
  padding: rem(15);
  position: relative;
  width: 100%;

  @include media (min-width $breakpoint-b) {
    align-items: center;
    display: flex;
    height: $header_height;
    padding: $content_padding;
  }
}

.text_container {
  @include media (min-width $breakpoint-b) {
    width: 75%;
  }

  .header & {
    width: 100%;
  }
}

.btn_container {
  width: 25%;
}

.btn-secondary {

  .header & {
    float: none;
    margin-top: rem(15);
  }

  .btn_container & {
    @include media (min-width $breakpoint-b) {
      float: right;
      margin-left: rem(30);
    }
  }
}
