.icon {
  display: inline-block;
  fill: none;
  height: rem(25);
  stroke: $white;
  stroke-width: 1.5px;
  vertical-align: middle;
}

.status_list_icon {
  height: rem(25);
  stroke: $mattherhorn;
}

.walkin_icon {
  height: rem(29);
}

.arrow_icon {
  height: rem(15);
  margin: 0 rem(5) 0 rem(12);
  stroke: $nobel;
}

.symbol-add {
  margin-right: rem(6px);
}

.alert_icon {
  height: rem(150);
  margin: rem(30) 0;
}
