.icon {
  display: inline-block;
  vertical-align: middle;
  height: rem(30);
  fill: none;
  stroke: $white;
  stroke-width: 1.5px;
}

.status_list_icon {
  stroke: $emperor;
  height: rem(25);
}

.arrow_icon{
  stroke:$dusty-gray;
  height: rem(23);
  margin: 0 rem(5) 0 rem(12);
}

.symbol-add{
  margin-right: rem(6px);
}
