.icon {
  display: inline-block;
  fill: none;
  height: rem(25);
  // If we don't assign a data-stroke-color in the html it defaults to white
  // We need to research if we can target elements with not a particular data
  // attribute and provide a default for just those, instead of overriding
  // this value as we do now
  stroke: $white;
  stroke-width: 1.5px;
  vertical-align: middle;

  // To gain flexibilty we apply the stroke color as a data-id in the html
  // To make it really cool this should be a sass function that takes a
  // color argument
  &[data-stroke-color="grey"] {
    stroke: $nobel;
  }

  &[data-stroke-color="blue"] {
    stroke: $pacific-blue;
  }

  &[data-stroke-color="amaranth"] {
    stroke: $amaranth;
  }

  &[data-stroke-color="niagara"] {
    stroke: $niagara;
  }

  &[data-stroke-color="nero"] {
    stroke: $nero;
  }

  &[data-stroke-color="white"] {
    stroke: $white;
  }
}

.status_list_icon {
  height: rem(25);
  stroke: $mattherhorn;
}

.walkin_icon {
  height: rem(29);
}

.arrow_icon {
  height: rem(15);
  margin: 0 rem(5) 0 rem(12);
  stroke: $nobel;
}

.symbol-add {
  margin-right: rem(6px);
}

.alert_icon {
  height: rem(150);
  margin: rem(30) 0;
}
