.message-box--upgrade {
  border: 1px solid $golden-tainoi;
  color: $nobel;
  display: inline-block;
  padding-right: 15px;
  width : 100%;
}

.message-box_icon-container {
  background: $golden-tainoi;
  display: inline-block;
  padding: 10px;
}

.message-box__message {
  margin-left: 15px;
}

.message-box__link {
  color: $mattherhorn;
  text-decoration: underline;
}
