.message-box--upgrade {
  align-items: center;
  background: $white;
  border: 1px solid $golden-tainoi;
  border-radius: $base-border-radius;
  box-shadow: $base-box-shadow;
  color: $nobel;
  display: flex;
  padding-right: 15px;
  width: 100%;
}

.message-box_icon-container {
  // This makes the background fill the full container height
  align-self: stretch;
  background: $golden-tainoi;
  padding: 10px;
}

.message-box__message {
  align-items: center;
  margin-left: 15px;
  padding: 10px 0;
}

.message-box__link {
  color: $mattherhorn;
  text-decoration: underline;
}
