.navbar {
  background: $pacific-blue;
  height: $navbar_height;
  min-width: rem(320);
  padding-left: rem(15);
  position: relative;
  width: 100%;

  @include media(min-width $breakpoint-b) {
    padding: $content_padding;
  }
}

.navbar_title {

  .navbar & {
    color: $white;
    display: inline;
    font-size: $font-headers-size;
    position: absolute;
    //height of nav-bar is 60px font header size is 20px.
    //12 it works to center the title.
    top: rem(12);
  }
}

.navbar_button {
  background: $action-color;
  border-left: $navbar-button-border;
  border-radius: 0;
  border-right: $navbar-button-border;
  float: right;
  height: 100%;
  margin-right: rem(-3);
  padding: $navbar-button-padding--mobile;

  @include media(min-width $breakpoint-b) {
    padding: $navbar-button-padding;
  }

  &:hover,
  &:focus {
    background-color: shade($action-color-darker, 5%);
  }
}

.navbar_button-text {
  display: none;

  @include media(min-width $breakpoint-b) {
    display: inline;
  }
}
