.table {
  @include outer-container;
}

// ----------------------------------------------------------------------------
.table_header {
  background-color: $white-smoke;
  border-bottom: 2px solid $gainsboro;
  box-shadow: $base-box-shadow;
  // display: inline-block;
  height: rem(32);
}

.table_heading--guest,
.table_heading--contact {
  border: 0;
  color: $nobel;
  font-weight: 400;
  line-height: rem(36);
  padding-left: 10px;
}

.table_heading--guest {
  @include span-columns(4 of 6);
}

.table_heading--contact {
  @include span-columns(2 of 6);
}

.table_row:nth-of-type(even) {
  background-color: $amaranth;
}
