<h1><u>Example Body Text</u></h1>
<p>
  Nullam quis risus eget urna mollis ornare vel eu leo. Cum sociis natoque
  penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nullam id
  dolor id nibh ultricies vehicula.
</p>

<p>
  <small>
    This line of text is meant to be treated as fine print.
  </small>
</p>

<p>The following snippet of text is <b>rendered as bold text.</b></p>
<p>The following snippet of text is <i>rendered as italicized text.</i></p>
<p>The following snippet of text is <span class="light-text">rendered as light text.</span></p>
