<h1><u>Buttons</u></h1>
<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
<button type="button">Default Button</button>
<!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
<button type="button" class="btn-light">Light Button</button>
<button type="button" class="btn-link">Link Button</button>

<div class="header">
  <button type="button" class="btn-large"><img class="icon symbol-add" src="svg/symbol-add.svg"></img><span>Add Booking</span></button>
  <button type="button" class="btn-large"><img class="icon" src="svg/symbol-walkin.svg"></img><span>Add Walkin</span></button>
  <button type="button" class="btn-large">Large Button</button>

</div>

<hr/>
<pre>
  &lt;button type="button"&gt;Default&lt;/button&gt;
  &lt;button type="button" class="btn-light"&gt;Light Button&lt;/button&gt;
  &lt;button type="button" class="btn-link"&gt;Link Button&lt;/button&gt;
  &lt;button type="button" class="btn-large"&gt;Large&lt;/button&gt;

</pre>
<hr/>
