<h1>Buttons</h1>
<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
<button type="button" class="btn btn-primary">Primary</button>
<button type="button" class="btn btn-primary">Save</button>

<!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
<button type="button" class="btn btn-link">Cancel</button>
<hr/>
<pre>
  &lt;button type="button" class="btn btn-primary"&gt;Primary&lt;/button&gt;
  &lt;button type="button" class="btn btn-primary"&gt;Save&lt;/button&gt;
  &lt;button type="button" class="btn btn-link"&gt;Cancel&lt;/button&gt;
</pre>
