<h1><u>Buttons</u></h1>
<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
<button type="button">Default Button</button>
<!-- Deemphasize a button by making it look like a link while maintaining button behavior -->
<button type="button" class="btn-light">Light Button</button>
<button type="button" class="btn-link">Link Button</button>

<div class="header">
  <button type="button" class="btn-large">Add Booking</button>
  <button type="button" class="btn-large">Add Walkin</button>
  <button type="button" class="btn-large"> <!-- {% include "../svgs/add-symbol.html" %}-->
Large Button</button>

</div>

<hr/>
<pre>
  &lt;button type="button" &gt;Default&lt;/button&gt;
  &lt;button type="button" class="btn-light"&gt;Light Button&lt;/button&gt;
  &lt;button type="button" class="btn-link"&gt;Link Button&lt;/button&gt;
  &lt;button type="button" class="btn-large"&gt;Large&lt;/button&gt;

</pre>
<hr/>
