<h1><u>Messages alerts</u></h1>
<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
<div class="message_alert">
    <div class="alert_box">
      <div class="close_alert">
        <svg viewBox="0 0 100 100" class="icon close_icon">
          <use xlink:href="#symbol-close"></use>
        </svg>
      </div>
      <svg viewBox="0 0 100 100" class="icon alert_icon">
        <use xlink:href="#symbol-success"></use>
      </svg>
    </div>
    <ul class="alert_content">
    <li class="line_title">
      <span class="line_title--success">Success!!</span>
    </li>
    <li class="line_message">
      <span class="">You did it right ! </span>
    </li>
  </ul>
</div>
