<div class="sidebar">
  <div class="sidebar_logo">
    <svg viewBox="0 0 120 45" class="icon logo_icon">
      <use xlink:href="#symbol-logo-bw"></use>
    </svg>
  </div>
  <ul>
    <li class="sidebar_menu">
      <svg viewBox="0 0 100 100" class="icon sidebar_icon">
        <use xlink:href="#symbol-search"></use>
      </svg>
      <span class="menu_text">Search</span>
    </li>
    <li class="sidebar_menu">
      <svg viewBox="0 0 100 100" class="icon sidebar_icon">
        <use xlink:href="#symbol-booking"></use>
      </svg>
      <span class="menu_text">Bookings</span>
    </li>
    <li class="sidebar_menu active_menu">
      <svg viewBox="0 0 100 100" class="icon sidebar_icon">
        <use xlink:href="#symbol-guests"></use>
      </svg>
      <span class="menu_text">Guests</span>
      <svg viewBox="0 0 100 100" class="icon sidebar_icon sidebar_arrow">
        <use xlink:href="#symbol-arrow-right"></use>
      </svg>
        <ul class="sidebar_collapsed">
          <div class="sub_sidebar_title">
            <span>Guests</span>
          </div>
          <li class="sidebar_menu sidebar_submenu">
            <span>All</span>
          </li>
          <li class="sidebar_menu sidebar_submenu">
            <span>Regular guests</span>
          </li>
          <li class="sidebar_menu sidebar_submenu">
            <span>Long time no see</span>
          </li>
          <li class="sidebar_menu sidebar_submenu">
            <span>Newslatter Opt in</span>
          </li>
          <li class="sidebar_menu sidebar_submenu">
            <span>No shows</span>
          </li>
          <li class="sidebar_menu sidebar_submenu">
            <span>Cancelled</span>
          </li>
          <li class="sidebar_menu sidebar_submenu">
            <span>More ate lunch</span>
          </li>
          <li class="sidebar_menu sidebar_submenu">
            <span>More at dinner</span>
          </li>
        </ul>
    </li>
    <li class="sidebar_menu">
      <svg viewBox="0 0 100 100" class="icon sidebar_icon">
        <use xlink:href="#symbol-feedback"></use>
      </svg>
      <span class="menu_text">Feedback</span>
    </li>
    <li class="sidebar_menu">
      <svg viewBox="0 0 100 100" class="icon sidebar_icon">
        <use xlink:href="#symbol-statistics"></use>
      </svg>
      <span class="menu_text">Statistics</span>
    </li>
    <li class="sidebar_menu">
      <svg viewBox="0 0 100 100" class="icon sidebar_icon">
        <use xlink:href="#symbol-promote"></use>
      </svg>
      <span class="menu_text">Promote</span>
      <svg viewBox="0 0 100 100" class="icon sidebar_icon sidebar_arrow">
        <use xlink:href="#symbol-arrow-right"></use>
      </svg>
    </li>
    <li class="sidebar_menu">
      <svg viewBox="0 0 100 100" class="icon sidebar_icon">
        <use xlink:href="#symbol-settings"></use>
      </svg>
      <span class="menu_text">Settings</span>
      <svg viewBox="0 0 100 100" class="icon sidebar_icon sidebar_arrow">
        <use xlink:href="#symbol-arrow-right"></use>
      </svg>
    </li>
    <li class="sidebar_menu">
      <svg viewBox="0 0 100 100" class="icon sidebar_icon">
        <use xlink:href="#symbol-restaurant"></use>
      </svg>
      <span class="menu_text">Restaurant</span>
    </li>
    <li class="sidebar_menu">
      <svg viewBox="0 0 100 100" class="icon sidebar_icon">
        <use xlink:href="#symbol-account"></use>
      </svg>
      <span class="menu_text">Account</span>
      <svg viewBox="0 0 100 100" class="icon sidebar_icon sidebar_arrow">
        <use xlink:href="#symbol-arrow-right"></use>
      </svg>
    </li>
  </ul>
</div>

<div class="everything">
   <div class="navbar">
    <div class="navbar_title">
      <span>Something here</span>
    </div>
    <button type="button" class="btn-large">
      <svg viewBox="0 0 100 100" class="icon">
        <use xlink:href="#symbol-add"></use>
      </svg>
      <span class="btn_text">Add Booking</span>
    </button>
    <button type="button" class="btn-large">
      <svg viewBox="0 0 100 100" class="icon walkin_icon">
        <use xlink:href="#symbol-walkin"></use>
      </svg>
      <span class="btn_text">Add Walkin</span>
    </button>
  </div><div class="header">
    <div class="text_container">
      <span>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore. </span><button type="button" class="btn-link">Learn More</button>
    </div>
    <div class="btn_container">
      <button type="button" class="btn-secondary">Cancel</button>
    </div>
  </div>
  <div class="container">
    <p class="content_centred">Content Here</p>
  </div>
</div>
