<h1><u>Status buttons</u></h1>


<div class="status-container">
  <ul>
    <li class="space-between">
        <div class="status">
        <button id="dLabel"
                class="btn-status"
                type="button"
                data-toggle="dropdown"
                aria-haspopup="true"
                aria-expanded="false"
        >
          <svg viewBox="0 0 100 100" class="icon symbol-scheduled">
            <use xlink:href="#symbol-scheduled"></use>
          </svg>
          <svg viewBox="0 0 100 100" class="icon icon-arrows">
            <use xlink:href="#symbol-arrow-down"></use>
          </svg>
        </button>
        <ul class="status-list" aria-labelledby="dLabel">
          <li class="status-item">
            <svg viewBox="0 0 100 100" class="icon status-list-icon symbol-scheduled">
              <use xlink:href="#symbol-scheduled"></use>
            </svg>
            <a class="status-link" href="#">Scheduled</a>
          </li>
          <li class="status-item">
            <svg viewBox="0 0 100 100" class="icon status-list-icon symbol-arrived">
              <use xlink:href="#symbol-arrived"></use>
            </svg>
            <a class="status-link" href="#">Arrived</a>
          </li>
          <li class="status-item">
            <svg viewBox="0 0 100 100" class="icon status-list-icon symbol-seated">
              <use xlink:href="#symbol-seated"></use>
            </svg>
            <a class="status-link" href="#">Seated</a>
          </li>
          <li class="status-item">
            <svg viewBox="0 0 100 100" class="icon status-list-icon symbol-finished">
              <use xlink:href="#symbol-finished"></use>
            </svg>
            <a class="status-link" href="#">Finished</a>
          </li>
          <li class="status-item">
            <svg viewBox="0 0 100 100" class="icon status-list-icon symbol-close">
              <use xlink:href="#symbol-close"></use>
            </svg>
            <a class="status-link" href="#">Cancelled</a>
          </li>
          <li class="status-item">
            <svg viewBox="0 0 100 100" class="icon status-list-icon symbol-no-show">
              <use xlink:href="#symbol-no-show"></use>
            </svg>
            <a class="status-link" href="#">No Show</a>
          </li>
        </ul>
      </div>
    </li>
  </ul>
  <ul>
    <li class="space-between">
      <div class="status">
      <button id="dLabel"
              class="btn-status status-active"
              type="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
      >
        <svg viewBox="0 0 100 100" class="icon symbol-arrived">
          <use xlink:href="#symbol-arrived"></use>
        </svg>
        <svg viewBox="0 0 100 100" class="icon icon-arrows">
          <use xlink:href="#symbol-arrow-down"></use>
        </svg>
      </button>
      <ul class="status-list" aria-labelledby="dLabel">
        <li class="status-item">
          <svg viewBox="0 0 100 100" class="icon status-list-icon symbol-scheduled">
            <use xlink:href="#symbol-scheduled"></use>
          </svg>
          <a class="status-link" href="#">Scheduled</a>
        </li>
        <li class="status-item">
          <svg viewBox="0 0 100 100" class="icon status-list-icon symbol-arrived">
            <use xlink:href="#symbol-arrived"></use>
          </svg>
          <a class="status-link" href="#">Arrived</a>
        </li>
        <li class="status-item">
          <svg viewBox="0 0 100 100" class="icon status-list-icon symbol-seated">
            <use xlink:href="#symbol-seated"></use>
          </svg>
          <a class="status-link" href="#">Seated</a>
        </li>
        <li class="status-item">
          <svg viewBox="0 0 100 100" class="icon status-list-icon symbol-finished">
            <use xlink:href="#symbol-finished"></use>
          </svg>
          <a class="status-link" href="#">Finished</a>
        </li>
        <li class="status-item">
          <svg viewBox="0 0 100 100" class="icon status-list-icon symbol-close">
            <use xlink:href="#symbol-close"></use>
          </svg>
          <a class="status-link" href="#">Cancelled</a>
        </li>
        <li class="status-item">
          <svg viewBox="0 0 100 100" class="icon status-list-icon symbol-no-show">
            <use xlink:href="#symbol-no-show"></use>
          </svg>
          <a class="status-link" href="#">No Show</a>
        </li>
      </ul>
    </div>
    </li>
  </ul>
  <ul>
    <li class="space-between">
      <div class="status">
      <button id="dLabel"
              class="btn-status status-active"
              type="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
      >
        <svg viewBox="0 0 100 100" class="icon symbol-seated">
          <use xlink:href="#symbol-seated"></use>
        </svg>
        <svg viewBox="0 0 100 100" class="icon icon-arrows">
          <use xlink:href="#symbol-arrow-down"></use>
        </svg>
      </button>
      <ul class="status-list" aria-labelledby="dLabel">
        <li class="status-item">
          <svg viewBox="0 0 100 100" class="icon status-list-icon symbol-scheduled">
            <use xlink:href="#symbol-scheduled"></use>
          </svg>
          <a class="status-link" href="#">Scheduled</a>
        </li>
        <li class="status-item">
          <svg viewBox="0 0 100 100" class="icon status-list-icon symbol-arrived">
            <use xlink:href="#symbol-arrived"></use>
          </svg>
          <a class="status-link" href="#">Arrived</a>
        </li>
        <li class="status-item">
          <svg viewBox="0 0 100 100" class="icon status-list-icon symbol-seated">
            <use xlink:href="#symbol-seated"></use>
          </svg>
          <a class="status-link" href="#">Seated</a>
        </li>
        <li class="status-item">
          <svg viewBox="0 0 100 100" class="icon status-list-icon symbol-finished">
            <use xlink:href="#symbol-finished"></use>
          </svg>
          <a class="status-link" href="#">Finished</a>
        </li>
        <li class="status-item">
          <svg viewBox="0 0 100 100" class="icon status-list-icon symbol-close">
            <use xlink:href="#symbol-close"></use>
          </svg>
          <a class="status-link" href="#">Cancelled</a>
        </li>
        <li class="status-item">
          <svg viewBox="0 0 100 100" class="icon status-list-icon symbol-no-show">
            <use xlink:href="#symbol-no-show"></use>
          </svg>
          <a class="status-link" href="#">No Show</a>
        </li>
      </ul>
    </div>
    </li>
  </ul>
  <ul>
    <li class="space-between">
      <div class="status">
      <button id="dLabel"
              class="btn-status"
              type="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
      >
        <svg viewBox="0 0 100 100" class="icon symbol-finished">
          <use xlink:href="#symbol-finished"></use>
        </svg>
        <svg viewBox="0 0 100 100" class="icon icon-arrows">
          <use xlink:href="#symbol-arrow-down"></use>
        </svg>
      </button>
      <ul class="status-list" aria-labelledby="dLabel">
        <li class="status-item">
          <svg viewBox="0 0 100 100" class="icon status-list-icon symbol-scheduled">
            <use xlink:href="#symbol-scheduled"></use>
          </svg>
          <a class="status-link" href="#">Scheduled</a>
        </li>
        <li class="status-item">
          <svg viewBox="0 0 100 100" class="icon status-list-icon symbol-arrived">
            <use xlink:href="#symbol-arrived"></use>
          </svg>
          <a class="status-link" href="#">Arrived</a>
        </li>
        <li class="status-item">
          <svg viewBox="0 0 100 100" class="icon status-list-icon symbol-seated">
            <use xlink:href="#symbol-seated"></use>
          </svg>
          <a class="status-link" href="#">Seated</a>
        </li>
        <li class="status-item">
          <svg viewBox="0 0 100 100" class="icon status-list-icon symbol-finished">
            <use xlink:href="#symbol-finished"></use>
          </svg>
          <a class="status-link" href="#">Finished</a>
        </li>
        <li class="status-item">
          <svg viewBox="0 0 100 100" class="icon status-list-icon symbol-close">
            <use xlink:href="#symbol-close"></use>
          </svg>
          <a class="status-link" href="#">Cancelled</a>
        </li>
        <li class="status-item">
          <svg viewBox="0 0 100 100" class="icon status-list-icon symbol-no-show">
            <use xlink:href="#symbol-no-show"></use>
          </svg>
          <a class="status-link" href="#">No Show</a>
        </li>
      </ul>
    </div>
    </li>
  </ul>
  <ul>
    <li class="space-between">
      <div class="status">
      <button id="dLabel"
              class="btn-status status-cancelled"
              type="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
      >
        <svg viewBox="0 0 100 100" class="icon symbol-close">
          <use xlink:href="#symbol-close"></use>
        </svg>
        <svg viewBox="0 0 100 100" class="icon icon-arrows">
          <use xlink:href="#symbol-arrow-down"></use>
        </svg>
      </button>
      <ul class="status-list" aria-labelledby="dLabel">
        <li class="status-item">
          <svg viewBox="0 0 100 100" class="icon status-list-icon symbol-scheduled">
            <use xlink:href="#symbol-scheduled"></use>
          </svg>
          <a class="status-link" href="#">Scheduled</a>
        </li>
        <li class="status-item">
          <svg viewBox="0 0 100 100" class="icon status-list-icon symbol-arrived">
            <use xlink:href="#symbol-arrived"></use>
          </svg>
          <a class="status-link" href="#">Arrived</a>
        </li>
        <li class="status-item">
          <svg viewBox="0 0 100 100" class="icon status-list-icon symbol-seated">
            <use xlink:href="#symbol-seated"></use>
          </svg>
          <a class="status-link" href="#">Seated</a>
        </li>
        <li class="status-item">
          <svg viewBox="0 0 100 100" class="icon status-list-icon symbol-finished">
            <use xlink:href="#symbol-finished"></use>
          </svg>
          <a class="status-link" href="#">Finished</a>
        </li>
        <li class="status-item">
          <svg viewBox="0 0 100 100" class="icon status-list-icon symbol-close">
            <use xlink:href="#symbol-close"></use>
          </svg>
          <a class="status-link" href="#">Cancelled</a>
        </li>
        <li class="status-item">
          <svg viewBox="0 0 100 100" class="icon status-list-icon symbol-no-show">
            <use xlink:href="#symbol-no-show"></use>
          </svg>
          <a class="status-link" href="#">No Show</a>
        </li>
      </ul>
    </div>
    </li>
  </ul>
  <ul>
    <li class="space-between">
      <div class="status">
      <button id="dLabel"
              class="btn-status status-no-show"
              type="button"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
      >
        <svg viewBox="0 0 100 100" class="icon symbol-no-show">
          <use xlink:href="#symbol-no-show"></use>
        </svg>
        <svg viewBox="0 0 100 100" class="icon icon-arrows">
          <use xlink:href="#symbol-arrow-down"></use>
        </svg>
      </button>
      <ul class="status-list" aria-labelledby="dLabel">
        <li class="status-item">
          <svg viewBox="0 0 100 100" class="icon status-list-icon symbol-scheduled">
            <use xlink:href="#symbol-scheduled"></use>
          </svg>
          <a class="status-link" href="#">Scheduled</a>
        </li>
        <li class="status-item">
          <svg viewBox="0 0 100 100" class="icon status-list-icon symbol-arrived">
            <use xlink:href="#symbol-arrived"></use>
          </svg>
          <a class="status-link" href="#">Arrived</a>
        </li>
        <li class="status-item">
          <svg viewBox="0 0 100 100" class="icon status-list-icon symbol-seated">
            <use xlink:href="#symbol-seated"></use>
          </svg>
          <a class="status-link" href="#">Seated</a>
        </li>
        <li class="status-item">
          <svg viewBox="0 0 100 100" class="icon status-list-icon symbol-finished">
            <use xlink:href="#symbol-finished"></use>
          </svg>
          <a class="status-link" href="#">Finished</a>
        </li>
        <li class="status-item">
          <svg viewBox="0 0 100 100" class="icon status-list-icon symbol-close">
            <use xlink:href="#symbol-close"></use>
          </svg>
          <a class="status-link" href="#">Cancelled</a>
        </li>
        <li class="status-item">
          <svg viewBox="0 0 100 100" class="icon status-list-icon symbol-no-show">
            <use xlink:href="#symbol-no-show"></use>
          </svg>
          <a class="status-link" href="#">No Show</a>
        </li>
      </ul>
    </div>
    </li>
  </ul>
</div>
<hr/>
<br/>
