<div class="dropdown">
  <button id="dLabel"
          class="btn-dropdown btn-dropdown--resmio"
          type="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
  >
    Dropdown
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dLabel">
    <li class="dropdown-item">
      <a class="dropdown-link" href="#">1</a>
    </li>
    <li class="dropdown-item">
      <a class="dropdown-link" href="#">2</a>
    </li>
    <li class="dropdown-item">
      <a class="dropdown-link" href="#">3</a>
    </li>
    <li class="dropdown-item">
      <a class="dropdown-link" href="#">4</a>
    </li>
  </ul>
</div>
<hr/>
<pre>
  &lt;div class="dropdown"&gt;
    &lt;button id="dLabel"
            class="btn-dropdown"
            type="button"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
    &gt;
      Dropdown
      &lt;span class="caret"&gt;&lt;/span&gt;
    &lt;/button&gt;
    &lt;ul class="dropdown-menu" aria-labelledby="dLabel"&gt;
      &lt;li class="dropdown-item"&gt;
        &lt;a class="dropdown-link" href="#"&gt;1&lt;/a&gt;
      &lt;/li&gt;
      &lt;li class="dropdown-item"&gt;
        &lt;a class="dropdown-link" href="#"&gt;2&lt;/a&gt;
      &lt;/li&gt;
      &lt;li class="dropdown-item"&gt;
        &lt;a class="dropdown-link" href="#"&gt;3&lt;/a&gt;
      &lt;/li&gt;
      &lt;li class="dropdown-item"&gt;
        &lt;a class="dropdown-link" href="#"&gt;4&lt;/a&gt;
      &lt;/li&gt;
    &lt;/ul&gt;
  &lt;/div&gt;
</pre>
<hr/>
