<h1><u>Dropdowns</u></h1>

<div class="dropdown">
  <button id="dLabel"
          class="btn-dropdown"
          type="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
  >
    <span>Dropdown</span>
    <svg viewBox="0 0 100 100" class="icon icon-arrows">
      <use xlink:href="#symbol-arrow-down"></use>
    </svg>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dLabel">
    <li class="dropdown-item">
      <a class="dropdown-link" href="#">1</a>
    </li>
    <li class="dropdown-item">
      <a class="dropdown-link" href="#">2</a>
    </li>
    <li class="dropdown-item">
      <a class="dropdown-link" href="#">3</a>
    </li>
    <li class="dropdown-item">
      <a class="dropdown-link" href="#">4</a>
    </li>
  </ul>
</div>

<hr class="styleguide-separator"/>
