<h1><u>Forms</u></h1>
<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->
<div class="forms-div">
  <ul class="form-list">
    <li  class="form-list_element">
      <input type="text" placeholder="Normal input"></input>
    </li>
    <li  class="form-list_element">
      <input type="text" class="form-error" placeholder="Error input"></input>
      <ul class="messages_feedback">
        <li class="messages-all error-messages">
          <span class="message">Error message example</span>
        </li>
      </ul>
    </li>
    <li  class="form-list_element">
      <input type="text" class="form-success" placeholder="Success input"></input>
      <ul class="messages_feedback">
        <li class="messages-all success-messages">
          <span class="message">Success message example</span>
        </li>
      </ul>
    </li>
    <li class="form-list_element">
      <input type="text" class="form-warning" placeholder="Warning input"></input>
      <ul class="messages_feedback">
        <li class="messages-all warning-messages">
          <span class="message">Warning message example</span>
        </li>
      </ul>
    </li>
  </ul>
</div>

<hr class="styleguide-separator"/>
