<table>
  <thead>
    <tr>
      <th>Guest name</th>
      <th>Contact info</th>
      <th>Newsletter</th>
      <th>Email verified</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>John Nada</td>
      <td>Upgrade now to unlock this info</td>
      <td>
        <svg viewBox="0 0 100 100" class="icon succes-icon">
          <use xlink:href="#symbol-success"></use>
        </svg>
      </td>
      <td>
        <svg viewBox="0 0 100 100" class="icon close_icon">
          <use xlink:href="#symbol-close"></use>
        </svg>
      </td>
    </tr>
  </tbody>
</table>
