<table class="table">
  <thead class="table__header">
    <tr>
      <th class="table-heading">Guest name</th>
      <th class="table-heading">Contact info</th>
      <th class="table-heading" data-show-from="breakpoint-b">Newsletter</th>
      <th class="table-heading" data-show-from="breakpoint-b">Email verified</th>
    </tr>
  </thead>
  <tbody class="table__body">

    <tr class="table-row">
      <td class="table-cell--guest-name" >John Nada</td>
      <td>
        <svg viewBox="0 0 100 100" class="icon" data-stroke-color="grey">
          <use xlink:href="#symbol-password"></use>
        </svg>
        Upgrade now to unlock this info
      </td>
      <td>
        <svg viewBox="0 0 100 100" class="icon" data-stroke-color="grey">
          <use xlink:href="#symbol-check"></use>
        </svg>
      </td>
      <td>
        <svg viewBox="0 0 100 100" class="icon" data-stroke-color="grey">
          <use xlink:href="#symbol-close"></use>
        </svg>
      </td>
    </tr>
  </tbody>
</table>
