<div class="table">

  <div class="table_header">
    <span class="table_heading--guest">Guest name</span>
    <span class="table_heading--contact">Contact info</span>
    <span class="table_heading--newsletter">Newsletter</span>
    <span class="table_heading--email">Email verified<span>
  </div>

  <div class="table_body">

    <div class="table_row">

      <div class="table_cell--guest">
        John Nada
      </div>

      <div class="table_cell--contact">
        <svg viewBox="0 0 100 100" class="icon" data-stroke-color="grey">
          <use xlink:href="#symbol-phone"></use>
        </svg>
        <span data-show-from="breakpoint-b">+66 666 666 666</span>
        <svg viewBox="0 0 100 100" class="icon" data-stroke-color="grey">
          <use xlink:href="#symbol-email"></use>
        </svg>
        <span data-show-from="breakpoint-b">johnnada@yahoo.es</span>
      </div><!-- table_cell-contact -->

      <div class="table_cell--newsletter">
        <svg viewBox="0 0 100 100" class="icon" data-stroke-color="grey">
          <use xlink:href="#symbol-check"></use>
        </svg>
      </div>

      <div class="table_cell--email">
        <svg viewBox="0 0 100 100" class="icon" data-stroke-color="grey">
          <use xlink:href="#symbol-x"></use>
        </svg>
      </div>

    </div><!-- table_row -->

    <div class="table_row">
      <div class="table_cell--guest">
        Luis Maria de Ostolaza y Pudientes Progenitores
      </div>
      <div class="table_cell--contact">
        <svg viewBox="0 0 100 100" class="icon" data-stroke-color="grey">
          <use xlink:href="#symbol-phone"></use>
        </svg>
        <span data-show-from="breakpoint-b">+34 123 678 902</span>
      </div><!-- table_cell-contact -->

      <div class="table_cell--newsletter">
        <svg viewBox="0 0 100 100" class="icon" data-stroke-color="grey">
          <use xlink:href="#symbol-check"></use>
        </svg>
      </div>

      <div class="table_cell--email">
        <svg viewBox="0 0 100 100" class="icon" data-stroke-color="grey">
          <use xlink:href="#symbol-x"></use>
        </svg>
      </div>

    </div><!-- table_row -->


    <div class="table_row">
      <div class="table_cell--guest">
        Jack Burton
      </div>

      <div class="table_cell--contact">
        <svg viewBox="0 0 100 100" class="icon" data-stroke-color="grey">
          <use xlink:href="#symbol-email"></use>
        </svg>
        <span data-show-from="breakpoint-b">jackburtonporkchopexpress@yahoo.es</span>
      </div><!-- table_cell-contact -->

      <div class="table_cell--newsletter">
        <svg viewBox="0 0 100 100" class="icon" data-stroke-color="grey">
          <use xlink:href="#symbol-x"></use>
        </svg>
      </div>

      <div class="table_cell--email">
        <svg viewBox="0 0 100 100" class="icon" data-stroke-color="grey">
          <use xlink:href="#symbol-x"></use>
        </svg>
      </div>

    </div><!-- table_row -->

  </div><!-- table_body -->

</div><!-- table -->
