<h1><u>Typography</u></h1>
<!-- Provides extra visual weight and identifies the primary action in a set of buttons -->

<p class="big_text">Big Header info</p>
<h1>Headers size</h1>
<p>Buttons text size</p>
<p class="medium_text">Text for menus on Sub-Sidebar</p>
<p class="small_text">Text for payments or messages</p>
<br/>
<br/>
<p>Paragraph</p>
<p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
