.messages-all{
  opacity:0.9;
  padding: rem(0) rem(10) rem(3);
}

.success-messages{
  background-color: $success-color;
}

.error-messages{
  background-color: $error-color;
}

.warning-messages{
  background-color: $warning-color;
}

.message{
  color: $white;
  font-size: $font-small-size;
}
