.elzar-messages-all{
  opacity:0.9;
  padding: 0 rem(10) rem(3);
}

.elzar-success-messages{
  background-color: $success-color;
}

.elzar-error-messages{
  background-color: $error-color;
}

.elzar-warning-messages{
  background-color: $warning-color;
}

.elzar-message{
  color: $white;
  font-size: $font-small-size;
}
