$visual-grid: false !default;

// Typography
$base-font-family: 'Open Sans', $helvetica;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 16px;
$headers-size: 20px;
$medium-size: 14px;
$small-size: 12px;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-z-index: 0;
$button-margin: 0.5em 0;
$large-button-padding: 0 1.7rem;
$default-button-padding: 0.9rem 2.3rem;
$small-spacing: 10px 10px;
$base-spacing: 10px 30px;
$banner-padding: 20px 15px;
$dropdown-padding: 12px 10px;
$content-padding: 0 3rem;


/// GLOBAL VALUES
// --------------------------------------------------

// Oct 2015 Styleguide colors
// We get the names from here
// http://chir.ag/projects/name-that-color/
// --------------------------

// Blues
$pacific-blue:          #00A7C4;
$deep-cerulean:         #018EA6;
$ocean-blue:            #333B4F;
$sidebar-blue:          #333B4F;
$sidebar-dark-lue:      #293140;
$sidebar-darker-lue:    #1E2532;

// Greens
$java:                  #22CCAA;
$mountain-meadow:       #21B498;
// Purples
$royal-purple:          #543EAC;
$minsk:                 #43318C;
// Reds
$amaranth:              #E62C4F;
$maroon-flush:          #BC213F;
// Yellows
$casablanca:            #F8C150;
$old-gold:              #D7A43B;
// Oranges
$west-side:             #FF910A;
$tahiti-gold:           #D97B08;
// Grays
$mine-shaft:               #222;
$emperor:                  #555;
$dusty-gray:               #999;
$alto:                     #DDD;
// Whites
$wild-sand:             #F7F7F7;
$white:                    #FFF;

// Font Colors
$base-font-color: $emperor;
$action-color: $pacific-blue;
$action-color-darker: $deep-cerulean;
$hiperlink-color: $sidebar-blue;


// Border
$base-border-color: $alto;
$base-border-radius: 3px;
$base-border: 1px solid $base-border-color;
$large-buttons-border: 1px solid $deep-cerulean;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
