$visual-grid: true !default;

// Typography
$base-font-family: 'Open Sans', $helvetica;
$heading-font-family: $base-font-family;

// Font Sizes
$base-font-size: 14px;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;
$button-margin: 0.5em 0;
$button-padding: 10px 33px;
$large-button-padding: 10px 47px;
$banner-padding: 20px 15px;
$dropdown-padding: 12px 10px;


// GLOBAL VALUES
// --------------------------------------------------

// Oct 2015 Styleguide colors
// We get the names from here
// http://chir.ag/projects/name-that-color/
// --------------------------

// Blues
$pacific-blue:          #00A7C4;
$deep-cerulean:         #018EA6;
$ocean-blue:            #333B4F;
// Greens
$java:                  #22CCAA;
$mountain-meadow:       #21B498;
// Purples
$royal-purple:          #543EAC;
$minsk:                 #43318C;
// Reds
$amaranth:              #E62C4F;
$maroon-flush:          #BC213F;
// Yellows
$casablanca:            #F8C150;
$old-gold:              #D7A43B;
// Oranges
$west-side:             #FF910A;
$tahiti-gold:           #D97B08;
// Grays
$mine-shaft:               #222;
$emperor:                  #555;
$dusty-gray:               #999;
$alto:                     #DDD;
// Whites
$wild-sand:             #F4F4F4;
$white:                    #FFF;

// Font Colors
$base-font-color: $mine-shaft;
$action-color: $java;
$action-color-darker: $mountain-meadow;

// Border
$base-border-color: $alto;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;
